.skillGridBorder{  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
.skillGrid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1em 1em;
  width: 80vw;
  justify-items: center;
    
  @media only screen and (min-width: 800px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media only screen and (min-width: 1550px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  
    .skillItem {
      flex: 1;
      max-width: 450px;
      min-width: 300px;
      width: 100%;
    }
    
    .skillCard {
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      height: 500px;
      background: linear-gradient(-45deg, rgba(255,255,255,0.04),rgba(255, 255, 255, 0.025),rgba(255,255,255,0.04));
    .skillImage {
        width: 64px;
        height: 64px;
        background: white;
        opacity: 0.5;
        object-fit: cover; /* Adjust image scaling as needed */
        filter: blur(5px); /* Initial blur effect */
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }
    }.skillInfo {
      position: absolute;
      top: 40%;
      left: 0;
      text-overflow: ellipsis;
      right: 0;
      background-color: rgba(0, 0, 0, 0);
      color: white;
      overflow-x: hidden;
      padding: 2em;
      overflow: hidden;
      h4{
        padding: 2em 0;
        line-height: 2em;
      }
    }
  }
}
  
  
