.projectContainer{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
    .projectOverlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        color: white;
        background: rgba(18, 13, 44, 0.452);
    }
    .projectOverlay:hover{
        opacity: 1;
    }
    h1{
        font-size: 36pt;
        position: absolute;
        top: 45%;
        color: var(--text-colour);
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: bold;
        letter-spacing: 1pt;
    }
    h3{
        font-size: 14pt;
        position: absolute;
        top: 60%;
        color: var(--text-colour);
        left: 50%;
        font-weight: 100;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        letter-spacing: 0.8pt;
    }
}
.projectContainer:hover{
    scale: 1.01;
}