.project-container{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);
    .project-overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
        width: 100%;
        opacity: 0;
        color: white;
        background: linear-gradient(180deg,rgba(0, 0, 0, 0.452),rgba(34, 34, 34, 0.808));
    }
    .project-overlay:hover{
        opacity: 1;
    }
    h1{
        font-size: 36pt;
        position: absolute;
        top: 45%;
        color: whitesmoke;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: bold;
        letter-spacing: 1pt;
    }
    h3{
        font-size: 14pt;
        position: absolute;
        top: 60%;
        color: whitesmoke;
        left: 50%;
        font-weight: 100;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        letter-spacing: 0.8pt;
    }
}
.project-container:hover{
    filter: brightness(110%) drop-shadow(20%, 8px 8px 10px rgb(1, 1, 1));
    scale: 1.1;
}