.container{
    position: absolute;
    top: 75vh;
    h4{
        font-weight: 500;
        font-style: italic;
        filter: brightness(80%);
        animation: 2s Bounce infinite alternate-reverse;
    }
}

.circle{
    width: 1202px;
    height: 1202px;
    border-radius: 100%;
}

@keyframes Bounce {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-15px) scale(1.05);
    }
}