.container{
    position: absolute;
    top: 75vh;
    cursor: pointer;
    padding: 3em 1em;
    border: 1px solid rgba(255, 255, 255, 0.377);
    border-radius: 100%;
    animation: 2s Bounce infinite alternate-reverse;
    h4{
        font-weight: 500;
        font-style: bold;
        filter: brightness(100%);
    }
}

.circle {
    overflow: hidden;
  }

@keyframes Bounce {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-5px) scale(1.01);
    }
}
.tagContainer{
    h4{
        flex-wrap: nowrap;
        display: inline;
        margin:0.2em;
        padding: 0.5em;
        color: var(--text-colour);
        border: 1.5px solid rgba(126, 126, 126, 0.644);
        background: linear-gradient(135deg, #05081b3f,#090d2e44,#05061a10, #05061827);
        border-radius: 8px;
    }   
}
.spaceContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    .spacer{
        width: 100%;
        height: 1px;
        margin: 2em 0em;
        background-color: rgba(255, 255, 255, 0.177);
    }
}
.softwareContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #4345550e; // Light background for visibility
    border-radius: 8px; // Optional for rounded edges
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Subtle shadow
    transition: transform 0.2s ease;
  
    &:hover {
      transform: scale(1.1); // Add hover effect
      background-color: #312e5352; // Slightly darker background on hover
    }
  }
  
  .softwareContainer .icon {
    color: white;
  }