.container{
    position: absolute;
    top: 75vh;
    cursor: pointer;
    padding: 3em 1em;
    border: 1px solid rgba(255, 255, 255, 0.377);
    border-radius: 100%;
    animation: 2s Bounce infinite alternate-reverse;
    h4{
        font-weight: 500;
        font-style: bold;
        filter: brightness(100%);
    }
}

.circle{
    width: 1202px;
    height: 1202px;
    border-radius: 100%;
}

@keyframes Bounce {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-5px) scale(1.01);
    }
}
.tagContainer{
    h4{
        display: inline;
        margin:0.2em;
        padding: 0.5em;
        border: 1.5px solid white;
        border-radius: 8px;
    }   
}
.spaceContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    .spacer{
        width: 100%;
        height: 1px;
        margin: 2em 0em;
        background-color: rgba(255, 255, 255, 0.177);
    }
}