.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    overflow: hidden;
    position: relative;
  }
  
  .headingContainer {
    text-align: center;
    margin-top: -2em;
    color: white;
  }
  

.projectBorder{
    top: 40vh;
    position: absolute;
    .tagList{
        display: flex;
        flex-direction: row;
        margin: 2.5em 0;
        @media only screen and (min-width: 1000px) {
            margin: 4.5em 0;
        }
        h4{
          font-size: 0.8em;
          @media only screen and (min-width: 1000px) {
            font-size: 1em;
          }
        }
    }
  }