.container{
  width: 100%;
  display: grid;
  margin: 20vh 0;
  justify-items: center;
.colourGrid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 1em 1em;
    width: 80%;
    justify-items: center;
      
    @media only screen and (min-width: 800px) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
      margin: 1em;
    }
    @media only screen and (min-width: 1550px) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .paletteCard {
      border-radius: 14px;
      width: 80%;
      height: 12.5vw;
      max-width: 25vw;
    }
  } 
}