.imgContainer{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    img{
        padding: 0;
        max-height: 50vw;
        min-width: 300px;
        // filter: drop-shadow(0px 16px 10px rgba(0,0,0,0.2));
        @media (max-width: 600px) {
            padding: 0;
        }

    }
}   
.flex{
    justify-content: center;   
    display: flex;
    img{
        width: 80%;   
        display: inline;
        padding: 1em;
        object-fit: contain;
        border-radius: 25px;
    }
    @media (max-width: 1200px) {
        flex-wrap: wrap;
    }

}
.flex img{
    // max-height: 400px;
    max-width: auto;
}