
.heroContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .textContainer{
        h1{
            // color: rgba(0,0,0,0.1);
            font-weight:500;
            font-size: 46pt;
            text-overflow: wrap;
            color: var(--accent-colour);
            z-index: 10;
            transition: all 2s ease-in-out;
            animation-delay: 200ms;
            text-align: center;
            animation: fade-animate 1s cubic-bezier(0.895, 0.03, 0.685, 0.22) alternate;
            // -webkit-text-stroke: 1px #FFFFFF;
            @media (max-width: 600px) {
                width: 100%;
                font-size: 26pt;
            }
            @media (max-width: 400px) {
                width: 100%;
                font-size: 26pt;
            }
        }
    h2{
        font-weight: 200;
        font-size: 24pt;
        color: var(--accent-colour);
    }
    .lineTwo{
        color: var(--text-colour);
        z-index: 10;
    }
    }
    .scrollContainer{
        position: absolute;
        right: 11vw;
        top: 80vh;
    }
}

@keyframes fade-animate {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  