
.hero-container{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    width: 100vw;
    padding: 35vh 10vw;
    text-align: left;
    justify-content: center;
    h1{
        // color: rgba(0,0,0,0.1);
        font-weight:500;
        font-size: 40pt;
        text-overflow: wrap;
        width: 600px;
        color: var(--accent-colour);
        z-index: 10;
        position: relative;
        // -webkit-text-stroke: 1px #FFFFFF;
    }
    @media (max-width: 600px) {
        h1{
            width: 100%;
            font-size: 26pt;
        }
    }
    @media (max-width: 400px) {
        h1{
            width: 100%;
            font-size: 26pt;
            // color: var(--accent-colour);
        }
    }
    h2{
        font-weight: 200;
        font-size: 24pt;
        color: var(--accent-colour);
    }
    .lineTwo{
        color: var(--text-colour);
        z-index: 10;
    }
    .hero-image{
        position: absolute;
        left: 10%;
        top: 2%;
        z-index: 10;
    }
    .backgroundImage, .backgroundOverlay{
        z-index: -10;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
    }
    .backgroundImage{
        filter: blur(10px);
        opacity:0;
        width: 100vw;
        height: 100vh;
        scale: 1.01;
        @media (max-width: 600px) {
            opacity: 0;
        }
    }
}