.aboutContainer{
    position: relative;
    text-align: center;
    display: inline-block;
    @media (max-width: 600px) {
        padding: 0;
      }
    .flex{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        align-items: center;
        @media (max-width: 800px) {
            padding: 0em;
            flex-wrap: wrap;
        }

        .personalPhoto{
            background-size: contain;
            background-repeat: no-repeat;
            float: right;
            width: 400px;
            height: 400px;
            // clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
            clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
            -webkit-clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
            @media (max-width: 330px) {
                height: 38vh;
            }
        }
        .introContainer{
            padding-right: 9em;
            text-align: left;
            width: 50%;
            position: relative;
            font-weight: 400;
            margin-right: 5%;
            letter-spacing: 0.4pt;
            h2{
                color: var(--accent-color);
            }
            p{
                @media (max-width: 1000px) {
                    padding: 0;
                    text-align: center;
                  }
                @media (max-width: 600px) {
                    width: 100%;
                }
            }
            @media (max-width: 1000px) {
                padding: 0;
                text-align: center;
              }
            @media (max-width: 600px) {
                width: 100%;
            }
        }
    }
    }
