.border-container{
    padding: 20px 30px;
    width: 100%;
    text-align: center;
    align-items: center;
    display: inline-block;
    h2{
        padding-left: 2.5em;
        text-align: left;
        font-size: 18pt;
    }
    @media (max-width: 1000px) {
        padding: 28px;
      }
    .flex{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: flex-start;
        @media (max-width: 1200px) {
            flex-wrap: wrap;
        }
    }

    .text-container{
            overflow-wrap: break-word;
            padding: 2em;
            text-align: left;
            font-weight: 100;         
        }
        p{
            font-size: 13pt;
            line-height: 2;
            // margin-right: 2.5em;
            // margin-bottom: 1em;
            @media (max-width: 800px) {
                padding: 0em;
                margin-right: 0;
                text-align: left;
            }
        }
        h3{
            font-size: 14pt;
            // padding-left: 2.5em;
            // line-height: 2;
            // margin-right: 2.5em;
            text-transform: uppercase;
            @media (max-width: 800px) {
                padding: 0em;
                margin-right: 0;
                text-align: center;
            }
        }
        @media (max-width: 1900px) {
            width: 25%;
            min-width: 100%;
            padding: 0em;
            margin-right: 0;
        }
    }