.border-container{
    padding: 30px 40px;
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    display: inline-block;
    h2{
        text-align: left;
    }
    @media (max-width: 1000px) {
        padding: 28px;
      }
    .flex{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .text-container{
            padding-top: 2em;
            text-align: left;
            width: 25%;
            min-width: 500px;
            font-weight: 100;            
        }
        p{
            font-size: 13pt;
            padding-left: 2.5em;
            line-height: 2;
            margin-right: 2.5em;
        }
        h3{
            font-size: 14pt;
            padding-left: 2.5em;
            line-height: 2;
            margin-right: 2.5em;
            text-transform: uppercase;
        }
        @media (max-width: 600px) {
            width: 25%;
            min-width: 100%;
            padding: 1em;
        }
    }