
.textContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 0;
    p{
        columns: 200px 3;
        padding: 1em;
        @media screen and (min-width: 600px) {
            padding: 6em;
        }
    }
    @media screen and (min-width: 600px) {
        flex-direction: row;
    }
}



.borderSolo{
    padding: 4em 0em;
    justify-content: left;
    height: 0vh;
    .headingSolo{
        position: relative;
        padding-left: 0;
        left: 2em;
    }
}
