.borderContainer{
    padding: 0;
    width: 100%;
    height: 60vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    h2{
        padding-left: 2.5em;
        text-align: left;
        font-size: 20pt;
    }
    @media (max-width: 1000px) {
      }
    .flex{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        @media (max-width: 1200px) {
            flex-wrap: wrap;
        }
    }
    .textContainer{
            overflow-wrap: break-word;
            text-align: left;
            font-weight: 100; 
            max-width: 40%;  
        }
        p{
            font-size: 14pt;
            line-height: 2;
            padding-left: 2.5em;
            // margin-right: 2.5em;
            // margin-bottom: 1em;
            @media (max-width: 800px) {
                padding: 0em;
                margin-right: 0;
                text-align: left;
            }
        }
        h3{
            font-size: 14pt;
            // padding-left: 2.5em;
            // line-height: 2;
            margin-bottom: 1em;
            padding-left: 2em;
            // margin-right: 2.5em;
            text-transform: uppercase;
            @media (max-width: 800px) {
                padding: 0em;
                margin-right: 0;
                text-align: center;
            }
        }
    }