*{
    font-family: var(--second-font);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}
/* width */
::-webkit-scrollbar {
width: 0px;
}

body{
    background: var(--background-colour);
    color: var(--text-colour);
    scroll-behavior: smooth;
}
a:-webkit-any-link {
    color: var(--text-colour);
}
Link{
    color: var(--text-colour);
}
h1{
    font-family: var(--primary-font);
    font-weight: 500;
    letter-spacing: -0.5px;
    text-align: center;
    margin-top: 1em;
    font-size: clamp(3rem,2rem + 3.14vw,6.5rem);
    z-index: 10;
    color: var(--text-colour);
}h2{
    font-size: clamp(1.8rem,2.7rem,3rem);
    z-index: 10;
    font-weight: 800;
    word-wrap: break-word;
    @media screen and (min-width: 400px) {
        font-size: 2.7rem;
    }
}h3{
    color: var(--text-colour);
    font-weight: 600;
    font-size: clamp(1.4rem,1.8rem,2rem);
    padding: 0.2em;
}p{ 
    font-size: clamp(1.2rem,1.4rem,1.8rem);
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-colour-dark);
    padding-right: 2.5em;
}span{
    color: var(--text-colour);
    font-weight: 500;
    letter-spacing: 0.2px;
    font-size: 1rem;
    filter: brightness(90%);
}
.mouse{
    display: none;
    @media screen and (min-width: 600px) {
        display: block;
        user-select: none;
        position: fixed;
        padding: 0.5rem;
        border-radius: 50%;
        mix-blend-mode: difference;
        transition: transform 0.1s ease;
        clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
        --webkit-clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
        z-index: 10;
    }
}

.privacy-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent-colour);
    z-index: 12;
  }
.AboutContainer{
    width: 100vw;
    height: 100vh;
}