*{
    font-family: var(--second-font);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}
/* width */
::-webkit-scrollbar {
width: 0px;
}

// /* Track */
// ::-webkit-scrollbar-track {
// background: rgb(0,0,0,0); 
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
// background: white;
// border-radius: 10px; 
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
// background: rgb(20, 19, 88); 
// }
html,body{
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    background: var(--background-colour);
    color: var(--text-colour);
    scroll-behavior: smooth;
}
.mouse{
    pointer-events: none;
    transform-style: preserve-3d;
    position: fixed;
    padding: 1.2rem;
    border-radius: 50%;
    mix-blend-mode: difference;
    // transition: transform 0.1s ease;
    // background: linear-gradient(180deg, $accent-colour, rgb(35, 60, 129));
    background-color: var(--accent-colour);
    filter: hue-rotate(180deg);
    clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
    --webkit-clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
    z-index: 10;
    @media (max-width: 600px) {
        display: none;
    }
}
Link{
    color: var(--text-colour);
}
h1{
    font-family: var(--primary-font);
    font-size: 30pt;
    font-weight: 400;
    color: var(--text-colour);
}

p{
    font-size: 14pt;
    line-height: 2;
    color: var(--text-colour);
    padding-right: 2.5em;
}
h3{
    color: var(--text-colour);
}
.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--accent-colour);
    justify-items: center;
    transition: all .8s ease;
    animation: expand .8s ease forwards;
}

@keyframes loadAnimation{
        0% {
          transform: translateX(1400px);
        }
        100% {
          transform: translateX(0px);
        }
}
// .App span{
//     color: $accent-colour;
//     position: relative;
//     top: 50vw;
//     height: 50vh;
// }