*{
    font-family: var(--second-font);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}
/* width */
::-webkit-scrollbar {
width: 0px;
}

body{
    background: var(--background-colour);
    color: var(--text-colour);
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}
a:-webkit-any-link {
    color: var(--text-colour);
}
Link{
    color: var(--text-colour);
}
h1{
    font-family: var(--primary-font);
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
    pointer-events: none;
    margin-top: -1em;
    font-size: clamp(3rem, 2.6656rem + 1.7834vw, 6.5rem);
    z-index: 10;
    color: var(--accent-colour);
}h2{
    color: var(--accent-colour);
    font-weight: 700;
    font-size: clamp(1.8rem, 1.6854rem + 0.6115vw, 3rem);
    padding: 0em 8em;
    text-align: center;

}h3{
    font-size: clamp(1.2rem, 1.1236rem + 0.4076vw, 2rem);
    z-index: 10;
    color: var(--text-colour);
    font-weight: 600;
    word-wrap: break-word;
}p{
    font-size: clamp(1rem, 0.7618rem + 0.2838vw, 1.4rem);
    line-height: 2;
    font-weight: 500;
    color: var(--accent-colour-dark);
    padding-right: 2.5em;
}span{
    font-size: clamp(1rem, 0.7618rem + 0.4838vw, 1.6rem);
    line-height: 2;
    font-weight: 500;
    color: var(--accent-colour-dark);
    padding-right: 2.5em;
}
.mouse{
    display: none;
    @media screen and (min-width: 600px) {
        display: block;
        user-select: none;
        position: fixed;
        padding: 0.5rem;
        border-radius: 50%;
        mix-blend-mode: difference;
        transition: transform 0.1s ease;
        clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
        --webkit-clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
        z-index: 10;
    }
}

.privacy-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent-colour);
    z-index: 12;
  }
.AboutContainer{
    width: 100vw;
    height: 100vh;
}