*{
    font-family: var(--second-font);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    letter-spacing: 0.3px;
}
/* width */
::-webkit-scrollbar {
width: 0px;
}

// /* Track */
// ::-webkit-scrollbar-track {
// background: rgb(0,0,0,0); 
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
// background: white;
// border-radius: 10px; 
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
// background: rgb(20, 19, 88); 
// }
html,body{
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    background: var(--background-colour);
    color: var(--text-colour);
    scroll-behavior: smooth;
}

Link{
    color: var(--text-colour);
}
h1{
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 75px;
    line-height: 88px;
    text-align: center;
    opacity: 88%;
    z-index: 10;
    color: var(--text-colour);
}h2{
    font-size: 50px;
    z-index: 10;
    font-weight: 800;
    opacity: 88%;
}h3{
    color: var(--text-colour);
    font-weight: 600;
    font-size: 18pt;
}p{
    font-size: 1rem;
    line-height: 2;
    font-weight: 500;
    color: var(--text-colour);
    padding-right: 2.5em;
}span{
    color: var(--text-colour);
    font-weight: 600;
    font-size: 1rem;
}




// .loading{
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     background-color: var(--accent-colour);
//     justify-items: center;
//     transition: all .8s ease;
//     animation: expand .8s ease forwards;
// }

// @keyframes loadAnimation{
//         0% {
//           transform: translateX(1400px);
//         }
//         100% {
//           transform: translateX(0px);
//         }
// }
// .App span{
//     color: $accent-colour;
//     position: relative;
//     top: 50vw;
//     height: 50vh;
// }
.mouse{
    user-select: none;
    position: fixed;
    padding: 0.8rem;
    border-radius: 50%;
    mix-blend-mode: difference;
    filter: hue-rotate(-40deg);
    // transition: transform 0.1s ease;
    // background: linear-gradient(180deg, $accent-colour, rgb(35, 60, 129));
    background-color: var(--accent-colour);
    clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
    --webkit-clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
    z-index: 10;
    @media (max-width: 600px) {
        display: none;
    }
}

.privacy-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent-colour);
    z-index: 12;
  }