:root{
// Brand
--accent-colour: #232af8;
--secondary-colour: #171b9b;
--text-colour: rgb(224, 226, 235);
--text-colour-dark: rgb(86, 96, 136);



// Background
--background-colour: #090914;
// --background-colour: #00000C;
--primary-font: 'questrial','raleway';
--second-font: 'questrial','raleway', 'Arial', 'Sans-Serif';
}