.social-container{
    z-index: 1;
    position: relative;
    right: 0;
    top: 50%;
    text-align: right;
    float: right;
    display: inline-grid;
    letter-spacing: 1pt;
    a{
        padding: 1em;
        display: flow-root;
        transition: scale 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        // background-color: rgba(0,0,0,0.5);
    }
    a:hover{
        opacity: 1;
        scale: 1.1;
        h3{
            font-weight: bold;
            color: #242477;
        }
        .icon{
            color: #242477;
        }
    }
    h3{
        display: inline;
        font-weight: 100;
        font-size: 12pt;
        transition: 0.1s ease-in-out;
    }
    .icon{
        -webkit-clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
                clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
        
        background-color: rgba(#000000, $alpha: 0.15);
        margin-left: 1em;
        position: relative;
        top: 20px;
        padding: 8%;
        width: 3.5rem;
        overflow: hidden;
        height: 3.5rem;
        color: white;
        transition: scale 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        @media (max-width: 400px) {
            .icon{
                clip-path: none;
            }
        }   
    @media (max-width: 600px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        letter-spacing: 0;
        h3{
            display: none;
        }
        a{
            padding: 0;
        }

    }
}

.minimal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    letter-spacing: 0;
}

.arrow-container{
    position: relative;
    align-items: center;
    text-align: left;
    top: 160%;
    justify-content: center;
    letter-spacing: 1pt;
    @media (max-width: 600px) {
        display: none;
    }
}
.down-container{
    z-index: 1;
    cursor: pointer;
    padding: 16px;
    transition: scale 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    h3{
        display: inline;
        font-weight: 100;
        font-size: 12pt;
    }
    h4{
        background-color: rgba($color: #000000, $alpha: 0.15);
        -webkit-clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
                clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
        display: inline;
        padding: 0.8em;
        padding-top: 0.6em;
        margin: 0em 0.5em;
        text-align: center;
    }
}
.down-container:hover{
    opacity: 1;
    scale: 1.1;
    font-weight: bold;
    color: #242477;
}