
.textContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-left: 0;
    p{
        padding: 5em;
    }
    @media screen and (min-width: 600px) {
        flex-direction: row;
        width: 60%;
    }
}



.borderSolo{
    padding: 4em 0em;
    justify-content: left;
    height: 0vh;
    .headingSolo{
        position: relative;
        padding-left: 0;
        left: 2em;
    }
}
