.gridContainer{
    list-style: none;
    position: relative;
    width: 100%;
    margin: 1em;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(1, minmax(0px, 1fr));

    @media only screen and (min-width: 400px) {
    }
    @media only screen and (min-width: 800px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
.textContainer{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    text-align: left;
    flex-direction: row;
    max-width: 100%;
    @media only screen and (min-width: 600px) {
        flex-direction: row;
        width: 100%;
    }
}



.borderSolo{
    justify-content: left;
    height: 0vh;
    .headingSolo{
        position: relative;
        padding-left: 0;
    }
}
