// .container{
//   width: 100vw;
//   height: 100vh;
//   justify-content: center;
//   position: fixed;
//   align-items: center;
//   top: 0;
//   z-index: 100;
//   transition: 850ms;
//   display: none;
//   right: 0;
//   box-shadow: 0 100px 50px rgba(14, 14, 14, 0.2);
//   transition: all 2s ease-in-out;
//   animation: right-animate 1s ease-in-out alternate;
//   ul{
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
//   }

// }

.logoContainer{
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 100;
}
.container{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  position: fixed;
  align-items: center;
  top: 0;
  z-index: 100;
  transition: 850ms;
  right: 0;
  background-color: (var(--background-colour));
  transition: all 1s ease-in-out;
  animation: right-animate 1s ease-in-out alternate;
  ul{
    height: 80%;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    li{
      :hover{
        font-weight: bolder;
      }
      span{
        font-size: 2em;
      }
    }
  }
  @media only screen and (min-width: 850px) {
    height: 3vh;
    top: 3vh;
    position: fixed;
    width: 100%;
    z-index: 15;
    border-radius: 20px;
    display: flex;
    background: none;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    animation: fade-animate 1.1s cubic-bezier(0.895, 0.03, 0.685, 0.22) alternate;
    justify-content: center;
    h3{
        margin-left: 1em;
        margin-right: auto;
        font-weight: 700;
        a{
            color: var(--text-colour);
        }
    }
    ul{
        display: flex;
      
        padding: 1.5em;
        background: linear-gradient(-45deg, rgba(255,255,255,0.06),rgba(255, 255, 255, 0.05),rgba(255,255,255,0.06));
        border-radius: 10px;
        align-content: center;
        li{
            list-style-type: none;
            display: inline;
            margin: 1em 2em;
            span{
              font-size: 1rem;
            }
            a.active{
                    span{
                        font-size: 2em;
                    }
            }
        }
        :hover{
            color: var(--accent-colour);
            font-weight: 900;
        }
    }
  }
}
.navBtn{
    width: 20px;
    height: 3px;
    position: fixed;
    top: 3em;
    z-index: 101;
    right: 3em;
    margin: 1em;
    background: #cfd1db;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(14, 14, 14, 0.2);
    transition: all .5s ease-in-out;
    transform: rotate(180deg);
    scale: 1.1;
  }
  .navBtn.active{
    background: var(--accent-color);
    transition: 0.5s ease-in-out;
    transform: translateX(10px);
    transform: rotate(180deg);
  }
  .navBtn.active::before{
    transform: rotate(-45deg);
  }
  
  .navBtn.active::after{
    transform: rotate(45deg);
  }

  .navBtn::before,.navBtn::after{
    content: '';
    position: absolute;
    width: 36px;
    height: 3px;
    background: var(--text-colour);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(14, 14, 14, 0.2);
    transition: 0.5s ease-in-out;
    transform: rotate(180deg);
  }
  .navBtn::before{
    transform: translateY(-12px);
  }
  .navBtn::after{
    transform: translateY(12px);
  }  

@keyframes fade-animate {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }