.vidContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
    cursor: pointer;
    z-index: 10;
}
    iframe{
    position: absolute;
    width: 80%;
    height: 80%;
}