.contactContainer{
    width: 100%;
    margin: 6em 0;
    h2{
        padding: 1.5em;
    }
    .contactForm{
        width: 100%;
        margin: 1em 0;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .contactBox{
        margin: 0.5em 0;
        width: 80vw;
    }
    .input{
        background-color: rgba(255,255,255,0.2);
        border: 1px solid rgba(255,255,255,0.8);
        color: white;
        &::placeholder{
            color: white;
        }
        &::-moz-placeholder{
            color: white;
        }
    }
    .input, .sendButton{
        width: 100%;
        border-radius: 3px;
        padding: 1em;
        margin: 0.5em;
    }
    .sendButton{
        background-color: var(--accent-colour);
        color: var(--text-colour);
        border: none;
    }
}