.projectGridBorder{  
  width: 100%;
  display: flex;
  margin: 0;

  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 400px) {
    margin: 10vh 0vh;
  }
  .projectGrid {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(1, minmax(0px, 1fr));
      gap: 1.25em;
      @media only screen and (min-width: 400px) {
        padding: 1em;
      }
      @media only screen and (min-width: 800px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      .projectItem {
        flex:1;
        // max-width: 600px;
        min-width: 300px;
      }
    
      .projectLink {
        text-decoration: none;
        color: inherit;
      }
    
      .projectCard {
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        height: 600px; /* Adjust the height as needed */
        border: 0.15em solid linear-gradient(95deg, #05081b,#090d2e,#05061a, #050618);
    
        .projectImage {
          width: 100%;
          height: 100%;
          opacity: 0.2;
          object-fit: cover; /* Adjust image scaling as needed */
          filter: blur(0px); /* Initial blur effect */
          transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
    
        &:hover .projectImage {
          filter: blur(0); /* Remove the blur effect on hover */
          scale: 1.1;
          opacity: 0.5;
        }
      }
    
      .projectInfo {
        position: absolute;
        
        bottom: 5vh;
        left: 0;
        text-overflow: ellipsis;
        right: 0;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        overflow-x: hidden;
        line-height: 1.55;
        padding: 0em 2em;
        overflow: hidden;
        h2{
          font-size: 3em;
        }
        h3{
          color: rgb(205,205,205);
        }
        h4{
          color: rgb(175,175,175);
        }
      }
    }
}
.tagList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 3em 0;
  gap: 0.5em 0;
  h4{
    font-size: 0.8em;
    @media only screen and (min-width: 1000px) {
      font-size: 1em;
    }
  }
}
  
  
.secondaryProjectGridBorder{  
  width: 100%;
  position: relative;
  margin: 5em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .secondaryProjectGrid {
      list-style: none;
      width: 100%;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(1, minmax(0px, 1fr));
      height: 30vh;
        
      @media only screen and (min-width: 800px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      @media only screen and (min-width: 1550px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    
      .secondaryProjectLink {
        text-decoration: none;
        color: inherit;
      }
    
      .secondaryProjectCard {
        border-radius: 2px;
        display: flex;
        justify-content: center;
    
        &:hover .secondaryProjectImage {
          filter: blur(0); /* Remove the blur effect on hover */
          scale: 1.1;
          opacity: 0.4;
        }
      }
    
      .secondaryProjectInfo {
        position: absolute;
        display: flex;
        color: white;
        border-bottom: 0.1em solid rgba(255, 255, 255, 0.253);
        overflow-x: hidden;
        overflow: hidden;
        flex-direction: row;
        align-items: center;
        width: 80vw;
        flex-wrap: nowrap;
        justify-content: space-between;
        h2{
          font-size: 3em;
        }
        h3{
          color: rgb(205,205,205);
        }
        h4{
          color: rgb(175,175,175);
        }
      }
    }
}