// .projectGrid{
//     display: grid;
//     grid-template-columns: repeat(3, minmax(0, 1fr));
//     column-gap: 4em;
//     row-gap: 4em;
//     width: 100vw;
//     padding: 1em;
//     @media only screen and (max-width: 1100px) {
//         grid-template-columns: repeat(2, minmax(0, 1fr));
//     }
//     @media only screen and (max-width: 600px) {
//         grid-template-columns: repeat(1, minmax(0, 1fr));
//     }
//         li{
//             list-style-type: none;
//             display: inline;
//             background-position: center center;
//             background-size: cover;
//             cursor: pointer;
//             height: 420px;
//             background-repeat: no-repeat;
//             width: 100%;
//             // background-color: rgba(255,255,255,0.2);
//             padding: 2em;
//             border-radius: 10px;
//             border: 0.2em solid rgba(255, 255, 255, 0.216);
//             color: var(--text-colour);
//             opacity: 0.2;
//             a,h1,h2,h3,h4{
//                 opacity: 1;
//             }
//         }
//     }
.projectGridBorder{  
  width: 100%;
  display: flex;
  margin: 20vh 0vh;

  justify-content: center;
  align-items: center;
  .projectGrid {
      list-style: none;
      width: 90%;
      display: grid;
      grid-template-columns: repeat(1, minmax(0px, 1fr));
      gap: 1em 1em;
      justify-items: center;
        
      @media only screen and (min-width: 800px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media only screen and (min-width: 1550px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

    
      .projectItem {
        flex: 1;
        max-width: 600px;
        min-width: 300px;
      }
    
      .projectLink {
        text-decoration: none;
        color: inherit;
      }
    
      .projectCard {
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        height: 450px; /* Adjust the height as needed */
    
        .projectImage {
          width: 100%;
          height: 100%;
          opacity: 0.5;
          object-fit: cover; /* Adjust image scaling as needed */
          filter: blur(5px); /* Initial blur effect */
          transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
    
        &:hover .projectImage {
          filter: blur(0); /* Remove the blur effect on hover */
          scale: 1.1;
        }
      }
    
      .projectInfo {
        position: absolute;
        bottom: 0;
        left: 0;
        text-overflow: ellipsis;
        right: 0;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        overflow-x: hidden;
        padding: 2em;
        overflow: hidden;
      }
    }
}
  
  
