.projectContainer{
    h1{
    font-size: 48pt;
    }
    h1,h2{
        position: relative;
        bottom: 10%;
    }
    h2{
        font-size: 20pt;
        font-variant-caps: all-small-caps;
    }
}