.processContainer{
    display: grid;
    justify-content: center;
    margin: 3em;
    .caseStudyContainer{
        h2{
            margin: 0em 0.5em 0.5em 0em;

        }
        p{
            padding: 1em 0.5em 0.5em 1em;
            max-width: 1000px;
        }
    }
}