.processContainer{
    display: grid;
    justify-content: center;
    margin: 3em;
    .caseStudyContainer{
        h2{
            margin: 1em 1em;

        }
        p{
            padding: 0em 4em;
            max-width: 1000px;
        }
    }
}