.flexFoot{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footContainer{
    // margin-top: 15em;
    padding: 170px 60px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba($color: #000000, $alpha: 1);
    opacity: 1;
    h2, h4{
      text-align: left;
      overflow-wrap: break-word;
    }
    a:hover{
      text-decoration: underline;
      color: var(--accent-colour);
      transition: all 1s ease-in-out;
    }
    @media (max-width: 1000px) {
        padding: 70px 30px;
      }
    }