.flexFoot{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5em;
}
.textArea{
  width: 100%;
  h1, h3{
    color: white;
  }
  h1{
    font-size: 42pt;
    font-weight: bolder;
  }
  h3{
    font-size: 24pt;
    font-weight: 300;
  }
}
.foot-container{
    margin-top: 15em;
    padding: 170px 60px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #242477;
    
    @media (max-width: 1000px) {
        padding: 70px 30px;
      }
    .messageMe{
      text-decoration: none;
      display: contents;
      ul{
        padding-left: 5%;
      }
      li{
        list-style-type: none;
      }
      a{
        color: white;
        float: left;
        padding: 20px 8px;
        text-align: left;
        border-bottom: 2px solid white;
        width: 200px;
        transition: all 0.2s ease-in-out;
      }
      a:hover{
        background-color: rgba(255,255,255,0.3);
      }
    }
    .right{
      float: right;
      display: inline;
  }
}