.flexFoot{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.textArea{
  width: 100%;
  h1, h3{
    color: var(--text-colour);
    overflow-wrap: break-word;
  }
  a:hover{
    text-decoration: underline;
    color: var(--accent-colour);
    transition: all 1s ease-in-out;
  }
}
.footContainer{
    // margin-top: 15em;
    padding: 170px 60px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: var(--secondary-color);
    opacity: 1;
    
    @media (max-width: 1000px) {
        padding: 70px 30px;
      }
    .messageMe{
      text-decoration: none;
      display: contents;
      ul{
        padding-left: 5%;
      }
      li{
        list-style-type: none;
      }
      a{
        color: white;
        float: left;
        padding: 20px 8px;
        text-align: left;
        border-bottom: 2px solid white;
        width: 200px;
        transition: all 0.2s ease-in-out;
      }
      a:hover{
        background-color: rgba(255,255,255,0.3);
      }
    }
    .right{
      float: right;
      display: inline;
  }
}

.centerCirclePosition{
  z-index: -1;
  position: absolute;
  opacity: 0.5;
  width: 20rem;
  height: 20rem;
  transform-origin: 50%;
  filter: blur(10em);
  border-radius: 100%;
  overflow: hidden;  
  background: linear-gradient(180deg, #F00 0%, #FA00FF 45%, #F00 100%);

}