.socialContainer{
    z-index: 10;
    float: right;
    a{
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
        align-items: center;
        justify-content: flex-end;
        transition: all 1s ease-in-out;
        animation: fade-animate 3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        // background-color: rgba(0,0,0,0.5);
        @for $x from 2 through 5 {
            &:nth-child(#{$x}) {
              animation-delay: 100ms * ($x - 1);
        }
    }
    }
    
    a:hover{
        opacity: 1;
        transform: translateY(10px);
        h3{
            font-weight: bold;
            color: var(--text-colour);
        }
        .icon{
            color: var(--text-colour);
        }
    }
    h3{
        display: inline;
        font-weight: 600;
        font-size: 10pt;
        transition: 0.1s ease-in-out;
    }
    .icon{
        -webkit-clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
                clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
        background: rgba(175, 175, 175, 0.144);
        margin-left: 0.5em;
        position: relative;
        padding: 0.75em;
        width: 2.75rem;
        overflow: hidden;
        height: 2.75rem;
        color: var(--text-colour);
        transition: scale 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        @media (max-width: 400px) {
            .icon{
                clip-path: none;
            }
        }   
    @media (max-width: 600px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        letter-spacing: 0;
        h3{
            display: none;
        }
        a{
            padding: 0;
        }

    }
}
.socialMinimalContainer{
    position: relative;
    top: 0;
    right: 1vw;
}


.minimal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    letter-spacing: 0;
}

.arrowContainer{
    position: relative;
    align-items: center;
    text-align: left;
    justify-content: center;
    letter-spacing: 1pt;
    @media (max-width: 600px) {
        display: none;
    }
}
.downContainer{
    z-index: 1;
    cursor: pointer;
    padding: 16px;
    margin-top: 15em;
    display: inline-block;
    transition: scale 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 1s ease-in-out;
    animation: fade-animate 3s cubic-bezier(0.895, 0.03, 0.685, 0.22) alternate;
    h3{
        display: inline;
        font-weight: 100;
        font-size: 13pt;
    }
    h4{
        background-color: rgba($color: #a39393, $alpha: 0.15);
        -webkit-clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
                clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0%);
        display: inline;
        padding: 0.8em;
        padding-top: 0.6em;
        margin: 0em 0.5em;
        text-align: center;
    }
}
.downContainer:hover{
    opacity: 1;
    scale: 1.05;
    h3{
        font-weight: bold;
        color: var(--text-colour);
    }
    h4{
        color: var(--text-colour);
    }
}

@keyframes fade-animate {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


