.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  justify-content: center;  
  margin: 4em 0;
    .nextPageButton{
        cursor:pointer;
        height: 60vh;
        width: 80%;
        border: none;
        background-position: center;
        background-size: cover;
        transition:all 0.5s ;
        -webkit-transition:all 0.5s ;
        -o-transition:all 0.5s ;
        -moz-transition:all 0.5s ;
        opacity: 1;
        background-repeat: no-repeat;
        @media only screen and (max-width: 400px) {
            .nextPageButton{
                height: 30vh;
            }
        }
    h2{
        color: var(--text-colour);
    }

}}
