.nextProjectContainer{
    padding: 5em;
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (max-width: 1000px) {
        padding: 70px 30px;
      }
    .nextProject{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: grayscale(100%);
    }
    h1{
        font-size: 28pt;
        color: white;
        font-weight: bold;
    }
    h2{
        color: white;
        opacity: 0.7;
        font-size: 24pt;
        padding: 1em;
        font-weight: 500;
    }
    h3{
        font-weight: 100;
        text-transform: uppercase;
        color: rgb(200,200,210);
    }
    .nextHeader{
        color: rgb(200,200,210);
    }
}
.nextProjectContainer:hover{
    filter: brightness(1.25);
}