.container{
    height: 100vh;
    width: 100%;
    min-height: 940px;
    display: flex;
    position: relative;
    overflow-x: hidden;
    justify-content: center;
    .headingContainer{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            padding: 1em;
            position: relative;
            top: -10%;
        }
        h3{
            font-weight: 400;
            top: -12.5vh;
            position: relative;
            color: var(--text-colour);
            filter: brightness(80%);
            text-align: center;
        }
    }

}

    .scrollContainer{
        position: absolute;
        left: 5vw;
        top: 80vh;
        @media (max-width: 1000px) {
            right: 20vw;
        }
        @media (max-width: 600px) {
            right: 30vw;
        }
    }
  .socialsContainer{
    position: absolute;
    right:5vw;
    top: 65vh;
    @media (max-width: 1000px) {
        right: 20vw;
    }
    @media (max-width: 600px) {
        right: 30vw;
    }
}