.container{
    height: 100vh;
    width: 100%;
    min-height: 940px;
    display: flex;
    justify-content: center;
    .headingContainer{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            padding: 1em;
            position: relative;
            top: -10%;
        }
        h3{
            font-weight: 300;
            top: -10%;
            position: relative;
            color: var(--text-colour-dark);
            text-align: center;
        }
    }

}

    .scrollContainer{
        position: absolute;
        left: 5vw;
        animation: fade-animate 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) alternate;
        top: 80vh;
        @media (max-width: 1000px) {
            right: 20vw;
        }
        @media (max-width: 600px) {
            right: 30vw;
        }
    }

// @keyframes scale {
//     from {
//         transform: scale(1);
//     }
//     to {
//         transform: scale(1.2);
//     }
//   }

  .socialsContainer{
    position: absolute;
    right:5vw;
    animation: fade-animate 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) alternate;
    top: 65vh;
    @media (max-width: 1000px) {
        right: 20vw;
    }
    @media (max-width: 600px) {
        right: 30vw;
    }
}

.bottomLeftCirclePosition, .topRightCirclePosition{
    z-index: -1;
    position: absolute;
    opacity: 0.5;
    width: 70rem;
    height: 70rem;
    transform-origin: 50%;
    filter: blur(10em);
    border-radius: 100%;
    background-size: 400% 400%;
    -webkit-animation: gradientRotate 5s ease infinite;
    -moz-animation: gradientRotate 5s ease infinite;
    animation: gradientRotate 5s ease infinite;
}
.bottomLeftCirclePosition{
    top: 40vh;
    right:60vw;
    background: linear-gradient(180deg, #F00 0%, #FA00FF 45%, #F00 100%);

}
.topRightCirclePosition{
    top: -30vh;
    left:60vw;
    background: linear-gradient(180deg, #0057FF 0%, #00FF85 100%);
}


@-webkit-keyframes gradientRotate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientRotate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientRotate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}