.wrapper{
  pointer-events: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    pointer-events: none;
  }
  
  .headingContainer {
    text-align: center;
    margin-top: 0;
    pointer-events: none;
    max-width: 1500px;
    z-index: 2;
    h2{
      margin-top: 1em;
    }
  }
  .subHeading{
    font-weight: 400;
    font-size: 1.8rem;
    pointer-events: none;
  }