.hexpro-main {
  display: grid;
  grid-template-columns: repeat(auto-fit,calc(var(--s) + 2*var(--mh)));
  justify-content:center;
  --s: 500px; /* size */
  --r: 1.15; /* ratio */
  
  /* clip-path */
  --h: 0.5;  
  --v: 0.25; 
  --hc:calc(clamp(0,var(--h),0.5) * var(--s)) ;
  --vc:calc(clamp(0,var(--v),0.5) * var(--s) * var(--r)); 
  
  /*margin */
  --mv: 4px; /* vertical */
  --mh: calc(var(--mv) + (var(--s) - 2*var(--hc))/2); /* horizontal */
  /* for the float*/
  --f: calc(2*var(--s)*var(--r) + 4*var(--mv)  - 2*var(--vc) - 2px);

  height: 100vh;
  @media only screen and (max-width: 1850px) {
    --s: 450px
  }
  @media only screen and (max-width: 1280px) {
    --s: 400px
  }
  @media only screen and (max-width: 900px) {
    --s: 350px
  }
  @media only screen and (max-width: 720px) {
    --s: 300px
  }

  }

  .hexpro-container {
    font-size: 0;
    grid-column: 1/-1;
  }
  
  .hexpro-container div {
    width: var(--s);
    margin: var(--mv) var(--mh);
    height: calc(var(--s)*var(--r)); 
    display: inline-block;
    font-size:initial;
    clip-path: polygon(var(--hc) 0, calc(100% - var(--hc)) 0,100% var(--vc),100% calc(100% - var(--vc)), calc(100% - var(--hc)) 100%,var(--hc) 100%,0 calc(100% - var(--vc)),0 var(--vc));
    margin-bottom: calc(var(--mv) - var(--vc));
    @media (max-width: 720px) {
      margin: 0;
      margin-bottom: calc(var(--mv) - var(--vc));
    } 
  }
  .hexpro-container div:hover{
    transition: 0.1s ease-in-out;
  }
  .hexpro-container::before {
    content: "";
    width: calc(var(--s)/2 + var(--mh));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(     
                     #0000 0 calc(var(--f) - 2px),      
                     #000  0 var(--f));
  }